body {
    background-color: rgb(37,37,38) ;
    font-family: "Roboto";
}

.navbar_main {
    width: 100%;
}

.navbar_main ul {
    display: flex;
    width: 100%;
    justify-content: center;
}

.navbar_main li {
    list-style-type: none;
    padding: 15px 25px;
    margin: 5px;
    border: 1px solid white;
}

.icon {
    color: rgb(255,255,255);
}

.navbar_main a {
    transition: 250ms ease;
    color: rgb(255,255,255) ;
    text-decoration: none;

}

.navbar_main li:hover a {
    color: rgb(161, 153, 255) ;
    text-decoration: none;
}